
<%= form_for([@document,@clause]) do |f| %>
  <% if @clause.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clause.errors.count, "error") %> prohibited this clause from being saved:</h2>

      <ul>
      <% @clause.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, placeholder: "Titulo", class:"form-control" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, placeholder: "Descripción", class:"form-control" %>
  </div>
  <div>
    <label>Documentos</label>
    <!-- Arreglo con todos los elementos de la tabla Documents los cuales se podra elegir a cual tipo de documento pertenece tal articulo -->
  </div>
  <div class="actions">
    <%= f.submit "Guardar" %>
  </div>
<% end %>
