<!-- Header que se mostrara en todas las paginas llamado en el layout -->
<header>
		<nav class="be-red white large-padding">
			<ul class="no-list row center-xs middle-xs">
				<li class="col-md">
					<h1 class="no-margin"  id="logo"><%= link_to "Inicio", root_path %></h1>
				</li>
				<li class="col-md"> 
					<h1><%= link_to "Usuarios", users_path %></h1>
				</li>
				<li class="col-md">
					<h1><h1><%= link_to "Documentos", documents_path %></h1></h1>
				</li>
				<li class="col-md">
					<h1><%= link_to "Nuevo usuario", new_user_path %></h1>
				</li>
				<li class="col-md">
					<h1><%= link_to "Nuevo documento", new_document_path %></h1>
				</li>
			</ul>
		</nav>
</header>