<p id="notice"><%= notice %></p>

<h1>Listing Has Documents</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Document</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @has_documents.each do |has_document| %>
      <tr>
        <td><%= has_document.user %></td>
        <td><%= has_document.document %></td>
        <td><%= link_to 'Show', has_document %></td>
        <td><%= link_to 'Edit', edit_has_document_path(has_document) %></td>
        <td><%= link_to 'Destroy', has_document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Has document', new_has_document_path %>
